<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css">
    <title>About</title>
  </head>
  <body>
    <h1>Some basic facts</h1>
    <ul>
        <li>He is the best football player of allllll time!</li>
        <li>He played for Werder Bremen</li>
        <li>He played for some other teams, too. But that's not as important</li>
    </ul>
    <p>Well done! &#128077;</p>
  </body>
</html>