<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="stylesheet" href="home.css">
    <title>Works</title>
  </head>
  <body>
    <h1>Some facts about his career:</h1>
    <ul>
        <li>In the year 2002 he joined Werder Bremen and stayed for 4 years</li>
        <li>During that time they won the Bundesliga title, the DFB-Pokal and qualified for the Champion's League 3 times</li>
        <li>With him they played the most beautiful and elegant football the world has ever seen</li>
        <li>After his career he became a winemaker - probably great wine (a bit expensive though)!</li>
    </ul>
  </body>
</html>